{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <!--Container Main start-->
    <div class="height-100 bg-light">
        <h4>Main Components</h4>
        <div class="boas-vindas">
        </div>

        <div class="gatos">
            <div class="gatosA">
            </div>
            <div class="gatosB">
            </div>
            <div class="gatosC">
            </div>
        </div>
       

    </div>
    <!--Container Main end-->
{% endblock %}
